<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="icon" href="../assets/img/titleimg.ico" type="image/x-icon">
    <!--<link rel="stylesheet" href="../assets/css/iview.min.css">-->
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
</head>
<body>
<div id="app">
    <i-button @click="show">点击!</i-button>
    <Modal v-model="visible" title="欢迎">欢迎到来</Modal>
</div>
</body>
<script src="../assets/js/Vue.js"></script>
<script src="../assets/js/iview.min.js"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            visible: false
        },
        methods: {
            show: function () {
                this.visible = true;
            }
        }
    })
</script>
</html>